footer {
    background-color: $footer-color;
    width: 100%;
    display: flex;
    justify-content:center;
    color: white;

    a{
        color: white;
    }
    .footerColumn{
        width: 25%;
        text-align: left;
        overflow-wrap: break-word;
        li{
            padding: 0.8% 0;
        }
        img{
            @include tamañoImagen(50px,50px);
        }
        h4{
            @include font("Titles",true);
            padding: 3% 0;
            width: 100%
        }
        ul {
            padding-left: 0;
        }
    }

}


