$header-color: #0D0D0D;
$nav-color: #262626; 
$footer-color: #0D0D0D;
$button-color: #aaa9a9;
$cart-color: #64d868;
$cartHover-color: #54b457;

$botonMediaBig:(
    padding:10px 20px,
    font-size: 16px,
    margin: 4px 2px
);