header {
  overflow: hidden;
  display: block;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #0D0D0D;
}

header input[type=search] {
  width: 100%;
  height: 40px;
  padding: 10px 30px 10px 10px;
  border-radius: 5px;
  border: 0;
  color: #7e7e83;
  display: inline-block;
  font-size: 17px;
  outline: none;
  cursor: inherit;
}

header input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  border-radius: 50em;
  background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;
  background-size: contain;
  opacity: 0;
  pointer-events: none;
}

header input[type=search]:focus::-webkit-search-cancel-button {
  opacity: .3;
  pointer-events: all;
}

@media (max-width: 720px) {
  header input[type=search] {
    display: none;
  }
}

.header-top {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.header-top img {
  width: 50px;
  height: 50px;
}

.header-top .buscador {
  width: 60%;
  position: relative;
}

@media (max-width: 720px) {
  .header-top .buscador {
    display: none;
  }
}

.header-top .buscador button {
  background: none;
  border: 0;
  color: rgba(135, 135, 136, 0.5);
  height: 40px;
  position: absolute;
  right: 0;
  width: 40px;
}

@media (max-width: 720px) {
  .header-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.header-top .header-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 1% 10px 10px;
}

@media (max-width: 720px) {
  .header-top .header-images {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 2% 2%;
  }
}

@media (max-width: 720px) {
  .header-top h1 {
    font-size: 20px;
  }
}

nav {
  margin: 0 auto;
  text-align: center;
  background-color: #262626;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  font-size: 18px;
  text-decoration: none !important;
}

nav li a:hover {
  background-color: #111111;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 1%;
}

@media (max-width: 720px) {
  .header-logo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
  }
}

@media (min-width: 720px) and (max-width: 1024px) {
  .header-logo {
    padding: 0;
    text-align: center;
  }
}

.header-logo h1, .header-logo a {
  color: #dddddd;
  font-family: "Titles";
}

.header-bottom {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #262626;
}

@media (max-width: 720px) {
  .header-bottom {
    font-size: 20px;
    width: 100%;
  }
  .header-bottom nav li a {
    font-size: 16px;
    padding: 16px 8px;
  }
}

footer {
  background-color: #0D0D0D;
  color: white;
}

@media (max-width: 420px) {
  footer input[type=submit] {
    margin-top: 2px;
    padding: 1px 3px;
    border: 0 none;
    cursor: pointer;
    border-radius: 5px;
  }
  footer input[type=text], footer input[type=email] {
    width: 80%;
    border: none;
    background: transparent;
    border-bottom: 1px solid white;
    color: white;
    border-radius: 0 !important;
    padding: 1px 5px;
    margin-bottom: 3%;
  }
  footer input[type=text]:hover, footer input[type=email]:hover {
    outline: none;
  }
}

@media (max-width: 720px) {
  footer input[type=text], footer input[type=email] {
    width: 40%;
  }
  footer input[type=submit] {
    padding: 1% 2%;
  }
}

@media (min-width: 720px) and (max-width: 1024px) {
  footer input[type=text], footer input[type=email] {
    width: 100%;
  }
}

@media (max-width: 720px) {
  footer .content {
    background-color: #0D0D0D;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white;
  }
}

footer .content a {
  color: white;
}

footer .content .footerColumn {
  width: 25%;
  text-align: left;
  overflow-wrap: break-word;
}

@media (max-width: 420px) {
  footer .content .footerColumn {
    width: 25%;
    text-align: left;
    overflow-wrap: break-word;
    font-size: 12px;
    padding: 0 3px;
  }
}

@media (max-width: 720px) {
  footer .content .footerColumn {
    width: 100%;
    border-bottom: thin solid white;
  }
}

@media (min-width: 720px) and (max-width: 1024px) {
  footer .content .footerColumn {
    width: 30%;
    padding: 0 1%;
  }
}

footer .content .footerColumn li {
  padding: 0.8% 0;
}

footer .content .footerColumn img {
  width: 50px;
  height: 50px;
}

@media (max-width: 420px) {
  footer .content .footerColumn img {
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 720px) {
  footer .content .footerColumn img {
    width: 40px;
    height: 40px;
  }
}

footer .content .footerColumn h4 {
  font-family: "Titles";
  font-weight: bold;
  padding: 3% 0;
  width: 100%;
}

@media (max-width: 420px) {
  footer .content .footerColumn h4 {
    font-family: "Titles";
    font-weight: bold;
    padding: 6% 0;
    font-size: 13px;
  }
}

@media (max-width: 720px) {
  footer .content .footerColumn h4 {
    padding: 5% 0;
    font-size: 16px;
  }
}

@media (max-width: 720px) {
  footer .content .footerColumn h5 {
    font-size: 15px;
  }
}

@media (max-width: 420px) {
  footer .content .footerColumn li {
    padding: 2% 0;
  }
  footer .content .footerColumn li img {
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 720px) {
  footer .content .footerColumn li {
    padding: 1% 0;
    font-size: 14px;
  }
  footer .content .footerColumn li img {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 720px) {
  footer .content .footerColumn label {
    font-size: 13px;
  }
}

@media (max-width: 720px) {
  footer .content .footerColumn p {
    font-size: 15px;
  }
}

footer .content .footerColumn ul {
  padding-left: 0;
}

.topSellerContainer {
  width: 100%;
  padding: 2% 0 2% 0;
  display: block;
}

.topSellerContainer h2 {
  font-family: "nunitoextralight";
  font-weight: bold;
}

@media (max-width: 720px) {
  .topSellerContainer h2 {
    text-align: center;
    margin-bottom: 3%;
  }
  .topSellerContainer img {
    width: 100px;
    height: 100px;
  }
  .topSellerContainer .card-footer {
    display: none;
  }
}

.topSellerItemsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Titles";
}

@media (max-width: 720px) {
  .topSellerItemsContainer img {
    -webkit-transition: none;
    transition: none;
  }
  .topSellerItemsContainer tr, .topSellerItemsContainer td {
    font-size: 14px;
  }
  .topSellerItemsContainer button {
    padding: 2px 6px;
  }
}

.topSellerItemsContainer tr, td {
  text-align: center;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0 17%;
}

@media (max-width: 720px) {
  .content {
    display: inline !important;
    padding: 0;
  }
}

@media (min-width: 720px) and (max-width: 1024px) {
  .content {
    padding: 0 10%;
  }
  .content .footerColumn {
    width: 30%;
    padding: 0 1%;
  }
}

.faq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Titles";
  width: 100%;
  text-align: center;
  padding: 0 20%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 720px) {
  .faq {
    width: 100%;
    padding: 0 10%;
  }
}

.containerDudas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Titles";
  width: 100%;
  text-align: center;
  padding: 2% 20%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 720px) {
  .containerDudas {
    width: 100%;
    padding: 5% 10%;
  }
}

@media (max-width: 720px) {
  .containerContactoMain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.containerContactoMain a:hover {
  color: black !important;
}

.containerContacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Titles";
  padding: 1% 25%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.containerContacto #contactoForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1%;
}

.containerContacto .containerRadio {
  padding: 5px 0;
}

.containerContacto input[type=text], .containerContacto input[type=email], .containerContacto select {
  width: 100%;
  padding: 6px 14px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.containerContacto textarea {
  resize: none;
  border: 1px solid #ccc;
  padding: .5rem;
}

@media (max-width: 720px) {
  .containerContacto {
    padding: 1% 15%;
  }
  .containerContacto .contactoForm {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .containerContacto textarea {
    width: 100%;
  }
}

.containerProducts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
}

.containerProducts a:hover {
  color: black !important;
}

.containerProducts .containerFilter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 25%;
}

@media (max-width: 420px) {
  .containerProducts .containerFilter {
    width: 100%;
    margin-bottom: 10%;
  }
}

@media (max-width: 720px) {
  .containerProducts .containerFilter .ad {
    display: none;
  }
}

@media (max-width: 420px) {
  .containerProducts .descriptionProduct {
    max-height: 50px !important;
  }
  .containerProducts .descriptionProduct h2 {
    font-size: 14px !important;
  }
}

@media (max-width: 720px) {
  .containerProducts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .containerProducts .containerFilter {
    width: 100%;
    margin-bottom: 10%;
  }
  .containerProducts .items {
    padding: 0;
  }
  .containerProducts .items .product {
    border-bottom: thin solid #ddd;
    padding: 5% 0;
  }
  .containerProducts .items .product .img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-right: none;
  }
  .containerProducts .items .product .img img {
    width: 90px;
    height: 90px;
    padding: 5px;
    -webkit-transition: none;
    transition: none;
  }
  .containerProducts .items .product .text {
    font-size: 12px;
    min-width: 130px;
    padding: 0;
    font-size: 9px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .containerProducts .items .product .text .titleProduct {
    margin-bottom: 0;
  }
  .containerProducts .items .product .text .descriptionProduct {
    overflow: hidden;
    max-height: 65px;
  }
  .containerProducts .items .product .text .descriptionProduct h2 {
    font-size: 18px;
  }
  .containerProducts .items .product .price {
    font-size: 20px;
    min-width: 100px;
    padding: 0.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-left: none;
  }
  .containerProducts .items .product .price .cart {
    padding: 15px 25px !important;
    background-size: 25px;
    display: inline !important;
  }
  .containerProducts .items .product .price .button, .containerProducts .items .product .price .cart {
    font-size: 12px;
    padding: 5px 10px;
    display: none;
  }
}

.containerCartProducts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 720px) {
  .containerCartProducts .h3, .containerCartProducts h3 {
    font-size: calc(1.1rem + .6vw);
  }
  .containerCartProducts .items {
    padding: 0%;
  }
  .containerCartProducts .items .product .text {
    padding: 0.5rem;
    min-width: 130px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .containerCartProducts .items .product .text .titleProduct {
    margin-left: 2%;
  }
  .containerCartProducts .items .product .text .descriptionProduct {
    display: none;
  }
  .containerCartProducts .items .product .inputNumbers {
    display: none;
  }
  .containerCartProducts .items .product .finalPrice {
    padding: 0;
    font-size: 18px;
  }
  .containerCartProducts .items .product .img {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .containerCartProducts .items .product .img img {
    width: 90px;
    height: 90px;
    padding: 5px;
    -webkit-transition: none;
    transition: none;
  }
  .containerCartProducts .items .product .trash {
    padding: 0 2%;
  }
  .containerCartProducts .items .product .trash img {
    width: 30px;
    height: 30px;
  }
}

.containerInformation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.containerInformation .firstRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2% 0;
}

.containerInformation .firstRow .radioCart {
  -webkit-transform: scale(2);
          transform: scale(2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
}

.containerInformation .firstRow .containerRadio {
  padding: 5px 0;
}

.containerInformation .firstRow .cartImg {
  width: 30px;
  height: 30px;
}

@media (max-width: 720px) {
  .containerInformation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 720px) {
  .location iframe {
    width: 285px;
    height: 250px;
  }
}

.pagar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagar .formContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: 3%;
  margin-bottom: 3%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.pagar .formPersonal .row {
  padding: 0 5%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.loginContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.producto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4% 0;
  border-bottom: solid #ddd;
}

@media (max-width: 720px) {
  .producto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 720px) {
  .producto .carousel {
    width: 100%;
  }
}

@media (max-width: 720px) {
  .producto .title {
    width: 100%;
    text-align: center;
  }
}

.producto .title .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 720px) {
  .producto .title .description {
    text-align: left;
    padding: 1%;
  }
}

.producto .title .description #price {
  padding-right: 10%;
}

@media (max-width: 720px) {
  .producto .title .description #price {
    text-align: center;
    font-size: 2.5rem;
  }
}

@media (max-width: 720px) {
  .informationProduct {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.informationProduct .subTitulo {
  text-align: left;
}

@media (max-width: 720px) {
  .informationProduct .descripcionProducto {
    width: 100%;
  }
}

@media (max-width: 720px) {
  .informationProduct .caracteristicasProducto {
    width: 100%;
    border-bottom: solid #ddd;
  }
}

.titleCart {
  text-align: center;
  padding: 2%;
}

@media (max-width: 720px) {
  .carouselContainer img {
    height: 250px;
  }
}

@media (max-width: 420px) {
  .carouselMain, .carousel-item img {
    height: 100px;
  }
}

@media (max-width: 720px) {
  .carouselMain, .carousel-item img {
    height: 300px;
  }
}

@media (max-width: 720px) {
  .categories label {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 49%;
  }
}

@media (max-width: 720px) {
  .perifericos {
    display: block;
  }
}

@media (max-width: 720px) {
  .marcas {
    display: block;
  }
}

@media (max-width: 1024px) {
  .publicidadEnvio img {
    width: 145%;
  }
}

@font-face {
  font-family: 'nunitoextralight';
  src: url("../fonts/nunito-variablefont_wght-webfont.woff2") format("woff2"), url("../fonts/nunito-variablefont_wght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Titles';
  src: url("../fonts/Oxygen-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.blue {
  background-color: #3468d6 !important;
  color: white;
}

.blue:hover {
  background-color: #2a52aa !important;
}

a {
  font-family: "nunitoextralight";
  font-weight: bold;
  text-decoration: none !important;
  color: black;
}

a:hover {
  color: white !important;
}

h2 {
  font-family: "Titles";
  color: black;
}

p {
  margin-bottom: 0;
}

li {
  list-style-type: none;
}

.button, .cart {
  padding: 10px 20px;
  background-color: #e7e7e7;
  border: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button:hover, .cart:hover {
  background-color: #aaa9a9;
}

.cart {
  background-color: #64d868;
  background-image: url("../images/icons/shoppingcartplus-icon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 45px;
  padding: 25px 60px;
}

.cart:hover {
  background-color: #54b457 !important;
}

.items {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0 5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

@media (min-width: 720px) and (max-width: 1024px) {
  .items {
    padding: 0 3%;
  }
  .items .text .descriptionProduct {
    display: none;
  }
  .items .img img {
    width: 150px !important;
    height: 150px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.items .product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 1%;
  background: white;
}

.items .product:hover .text, .items .product:hover .price {
  background: #f0eeee;
}

.items .product .img {
  border-right: thin solid #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.items .product .img img {
  width: 200px;
  height: 200px;
  padding: 10px;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.items .product .img img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.items .product .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
  font-family: "Titles";
  width: 100%;
}

.items .product .text .titleProduct {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.items .product .descriptionProduct {
  overflow: hidden;
  font-size: 9px;
  width: 100%;
  height: 10.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.items .product .descriptionProduct h2 {
  font-family: "nunitoextralight";
  font-size: calc(0.6rem + .9vw);
}

.items .product .price {
  padding: 1rem;
  border-left: thin solid #ddd;
  font-family: "Titles";
  text-align: center;
  font-size: 31px;
}

.items .product .inputNumbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.items .product .finalPrice {
  padding: 1rem;
  font-family: "Titles";
  font-size: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
}

.items .product .trash {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.items .product .trash img {
  width: 40px;
  height: 40px;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

@media (min-width: 720px) and (max-width: 1024px) {
  .submit input[type=submit] {
    width: 100%;
  }
}

main {
  background-color: #dddddd35;
}

.card-footer {
  background-color: transparent;
  border-top: none;
}

.carousel-control-next, .carousel-control-prev {
  width: 5%;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  background-color: grey;
}

.h2, h2 {
  font-size: calc(1.225rem + .9vw);
}

.formPersonal .col-md-5 .row {
  padding: 0;
}

.card img {
  width: 200px;
  height: 200px;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.card img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 720px) {
  .card img {
    width: 100%;
    height: 100px;
  }
}

@media (max-width: 420px) {
  .carouselMain .carousel-item img {
    height: 300px;
  }
}

.producto .carousel-indicators {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.producto .carousel-indicators [data-bs-target] {
  background-size: 5rem;
  padding: 3rem;
  background-repeat: no-repeat;
  background-color: transparent;
}

@media (max-width: 720px) {
  .producto .carousel-indicators [data-bs-target] {
    background-size: 3rem;
    padding: 1.5rem;
  }
}

.producto .carousel-item img {
  height: 450px;
}

@media (max-width: 720px) {
  .producto .carousel-item img {
    height: 300px;
  }
}

#ofertas {
  opacity: 0;
  -webkit-animation: fadeIn 2s;
          animation: fadeIn 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (min-width: 720px) {
  .containerProducts .collapse:not(.show) {
    display: block;
  }
  .containerProducts .filtrosProductos {
    display: none;
  }
  .containerFilter {
    width: 100% !important;
  }
  .containerFilter img {
    width: 10rem;
  }
}

@media (min-width: 720px) and (min-width: 1024px) {
  .containerFilter img {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */