@import "style.css";


@media (max-width: 480px){


    .footerColumn h4{
        font-family: "Titles";
        font-weight: bold;
        padding: 6% 0;
        font-size: 13px
    }
    
    .footerColumn img{
        width:  25px; 
        height: 25px;
    }
    
    .footerColumn{
        width: 25%;
        text-align: left;
        overflow-wrap: break-word;
        font-size : 12px;
        padding: 0 3px;
    }
    

    .footerColumn li{
        padding: 2% 0;

    }
    
    footer input[type=submit] {
        margin-top: 2px;
        padding:1px 3px; 
        background:#ccc; 
        border:0 none;
        cursor:pointer;
        border-radius: 5px; 
    }
    
    footer input[type=text], footer input[type=email]{
        width: 80%;
        border: none;
        background: transparent;
        border-bottom: 1px solid white;
        color: white;
        border-radius: 0 !important;
        padding: 1px 5px;
        margin-bottom: 3%;
      }

    footer input[type=text]:focus, footer input[type=email]:focus{
        outline: none;
    }

    .carouselMain, .carousel-item img{
        height: 300px
    }


}

@media (max-width: 720px){

    .header-top{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .header-logo{
        flex-direction: column;
        width: 50%;
    }

    .header-images{
        align-items: center;
        text-align: center;
        justify-content: center;
        display: flex;
        padding: 2% 2%;
    }

    .header-top h1{
        font-size: 20px;
    }

    header input[type=search]{
        display: none;
    }

    nav li a{
        font-size: 16px;
        padding: 16px 8px;
    }


    .carouselContainer img{
        height: 250px
    }

    .carouselMain, .carousel-item img{
        height: 300px
    }

    .content{
        text-align: left;
        flex-direction: column;
        padding: 0%;
    }

    .footerColumn{
        width: 100%;
        border-bottom: thin solid white;
    }

    .footerColumn h4{
        padding: 5% 0;
        font-size: 16px;
    }

    .footerColumn h5{
        font-size: 15px;
    }

    .footerColumn li{
        padding: 1% 0;
        font-size: 14px;
    }

    .footerColumn label{
        font-size: 13px;
    }

    .footerColumn li img{
        width: 40px;
        height: 40px;
    }

    .footerColumn p {
        font-size: 15px;
    }

    .header-bottom{
        font-size: 20px;
        width: 100%;
    }

    footer input[type=text], footer input[type=email] {
        width: 40%;
    }

    footer input[type=submit] {
        padding: 1% 2%;    
    }



    .topSellerContainer h2 {
        text-align: center;
        margin-bottom: 3%;
    }

    .topSellerContainer table{
        display: flex;
        overflow-x: auto;
    }

    .topSellerContainer img{
        width:100px;
        height:100px;
    }

    .topSellerContainer .card-footer {
        display: none;
    }


    .topSellerItemsContainer img {
        transition: none;
    }

    .topSellerItemsContainer tr, td {
        font-size: 14px;
    }

    .topSellerItemsContainer button{
        padding: 2px 6px
    }

    /**contacto**/

    .containerContactoMain{
        display:flex;
        flex-direction: column;
        text-align: center;
    }


    .containerInformation{
        flex-direction: column;
    }

    .location iframe{
        width: 285px ;
        height: 250px;
    }

    .contactoForm{
        align-items: center;
    }

    .containerContacto{
        padding: 1% 15%;
    }

    .containerContacto textarea {
        width:100%;
    }

    /**Ofertas y productos**/

    .containerProducts{
        flex-direction: column;
        padding: 0;
    }

    .containerFilter{
        width: 100%;
        margin-bottom: 10%;
    }

    .categories label{
        display: inline-flex;
        width: 49%;
    }

    .perifericos{
        display: block;
    }

    .marcas{
        display: block;
    }
    
    .items{
        padding: 0;
    }

    .img{
        display: flex;
        align-items: center;
    }


    .img img{
        width: 90px;
        height: 90px;
        padding: 5px;
        transition: none;
    }
    .text{
        font-size: 12px;
        min-width: 130px;
        padding: 0;
        font-size: 9px;
        justify-content: space-around;
    }

    .descriptionProduct{
        display: block;
    }

    .price{
        font-size: 20px;
        min-width: 100px;
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content:center;
    }

    .cart {
        padding: 15px 25px !important;
        background-size: 25px;
        display: inline !important;
    }

    .button {
        font-size: 12px;
        padding: 5px 10px;
        display: none;
    }

/**Ayuda**/
    .faq{
        width:100%;
        padding: 0;
    }

    .containerDudas{
        width: 100%;
        padding: 0;
    }

    .submit input[type=submit] {
        width: 100%;

    }

/**Cart**/

    .containerCartProducts{
        padding:0;
    }


    .titleProduct{
        margin-left: 2%;
    }
    .descriptionProduct{
        display: none;
    }

    .inputNumbers {
        display: none;
    }

    .finalPrice{
        padding: 0;
        font-size: 18px;
    }

    .trash{
        padding: 0 2%;
    }

    .trash img{
        width: 30px;
        height: 30px;
    }

    .containerInformation{
        margin: 2% 0;
    }
}

@media (min-width: 720px) AND (max-width: 1024px) {
    

    .footerColumn{
        width: 30%;
        padding: 0 1%;
    }

    .content{
        padding:0 10%;
    }

    .header-logo{
        padding: 0;
        text-align: center;
    }
    footer input[type=text], footer input[type=email] {
        width: 100%;

    }

    .topSellerContainer table {
        display: flex;
        overflow-x: auto;
    }

    /**productos **/

    .items{
        padding: 0 3%;
    }

    .containerFilter{
        min-width: 130px;
    }

    .descriptionProduct{
        display: none;
    }

    .img img{
        width: 150px;
        height: 150px;
        display: flex;
        align-items: center;
    }

    /**Ayuda**/
    .submit input[type=submit] {
        width: 100%;
    }




}